{% extends 'home/Navbar2.html' %}
{%block content%}
<title>View Documents</title>
<center>
<h1> View/Upload Medical Records</h1>
</center>

  <ul class = "new">

          <a href = "uploads" class = "button">Click here to upload new files</a>
    <p style = " color:black;">Uploaded files:</p>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{%endblock%}
